{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle) }}

{{ partial "short-text" .Params.blurb}}

{{ partial "2-up" .Params }}

{{ partial "text-and-image" (dict "heading" .Params.values.heading "text" .Params.values.text "buttonText" "Read more" "buttonLink" "/values") }}

{{ partial "blog" . }}

<!-- Chatbot HTML structure -->
<div id="chatbot-container">
    <div id="chatbot-header">
        Chatbot
        <span id="close-chatbot">x</span>
    </div>
    <div id="chatbot-body"></div>
    <div id="chatbot-input">
        <input type="text" id="user-input" placeholder="Type a message..." />
        <button id="send-message">Send</button>
    </div>
</div>

{{ end }}